### white list ##
/*
*~

!/.gitignore

# 用户配置
!/home/
/home/*
!/home/janus/
/home/janus/*
!/home/janus/.config/
!/home/janus/.bashrc
/home/janus/.config/*
!/home/janus/.config/niri/
!/home/janus/.config/starship.toml
!/home/janus/.config/foot/
!/home/janus/.config/nvim/
/home/janus/.config/nvim/lazy-lock.json
!/home/janus/.config/fish/

# root配置
!/root/
/root/*
!/root/.bashrc
!/root/.config

# gentoo配置
!/etc/
/etc/*
!/etc/inittab
!/etc/ssh/
/etc/ssh/*
!/etc/ssh/sshd_config
!/etc/portage/
/etc/portage/gnupg/
/etc/portage/kernel_key.pem


!/README.md
