### white list ##
/*
*~

!/.gitignore

# 用户配置
!/home/
/home/*
!/home/janus/
/home/janus/*
!/home/janus/.config/
!/home/janus/.bashrc
/home/janus/.config/*
!/home/janus/.config/niri/
!/home/janus/.config/starship.toml
!/home/janus/.config/foot/
!/home/janus/.config/nvim/
/home/janus/.config/nvim/lazy-lock.json
!/home/janus/.config/fish/
!/home/janus/.config/waybar/

# rime
!/home/janus/.local/
/home/janus/.local/*
!/home/janus/.local/share/
/home/janus/.local/share/*
!/home/janus/.local/share/fcitx5/
/home/janus/.local/share/fcitx5/*
!/home/janus/.local/share/fcitx5/rime/
/home/janus/.local/share/fcitx5/rime/*
!/home/janus/.local/share/fcitx5/rime/default.yaml
# electron类软件兼容wayland配置
!/usr/
/usr/*
!/usr/share/
/usr/share/*
!/usr/share/applications/
/usr/share/applications/*
!/usr/share/applications/qq.desktop

!/etc/
/etc/*
# udev规则
!/etc/udev/
/etc/udev/*
!/etc/udev/rules.d/
/etc/udev/rules.d/*
!/etc/udev/rules.d/99-uinput.rules

# root配置
!/root/
/root/*
!/root/.bashrc
!/root/.config

# gentoo配置
!/etc/inittab
!/etc/ssh/
/etc/ssh/*
!/etc/ssh/sshd_config
!/etc/portage/
/etc/portage/gnupg/
/etc/portage/kernel_key.pem


!/README.md
